<h1 class="page-header">Create Scheduled Webtask</h1>

<div class="row">
  <div class="col-xs-12">
    <form name="tasks.draftForm" novalidate ng-submit="tasks.create(tasks.draft)">
      <div class="form-group">
        <label for="taskName">Webtask name</label>
        <input name="name" type="text" class="form-control" id="taskName"
          placeholder="Token name"
          ng-model="tasks.draft.name"
          required ng-minlength="4">
      </div>
      <div class="form-group">
        <label for="taskSecrets">Webtask secrets</label>
        <div ace-editor name="secrets" class="form-control" id="taskSecrets"
          placeholder="" rows="8" mode="json" min-lines="4"
          ng-model="tasks.draft.secrets"></div>
        <p class="help-block">
          Define your secrets here as a <strong>JSON</strong>.
          These will be exposed to your webtask as children of the
          <code>context.data</code> object. Please see the 
          <a href="https://webtask.io/docs/model" target="_blank">documentation</a>
          for further details.
        </p>
      </div>
      <div class="form-group">
        <label for="taskCode">Webtask code</label>
        <div ace-editor name="code" class="form-control" id="taskCode"
          placeholder="" rows="8" mode="javascript"
          min-lines="10" max-lines="30"
          ng-model="tasks.draft.code"></div>
        <p class="help-block">
          Please see the
          <a href="https://webtask.io/docs/token" target="_blank">documentation</a>
          for further information.
        </p>
      </div>
      <div class="alert alert-info">
        <p>In the next step we will associate a schedule with your webtask.</p>
      </div>
      <button type="submit" class="btn btn-success">Create</button>
      <a class="btn btn-link" ui-sref="dashboard.tasks">Cancel</a>
    </form>
  </div>
</div>  