<h1 class="page-header">Tasks</h1>

<div class="row">
  <div class="col-xs-12">
    <div ng-if="tasks.tasks.length">
      <table class="table table-striped">
        <tr><td>TODO: Show table of 5 tasks</td></tr>
      </table>
      <a class="btn btn-link" ui-sref="dashboard.tasks.create">
        Create task
      </a>
    </div>
    
    <div class="alert alert-info" ng-if="!dashboard.tasks.length">
      <p>
        You do not have any scheduled tasks. Defining and scheduling code to run
        on Webtask.io is really, really easy. Click below to get started.
      </p>
      
      <p>
        <a class="btn btn-primary" ui-sref="dashboard.tasks.create">
          Create task
        </a>
      </p>
    </div>
  </div>
</div>  