<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="dashboard">Tasker</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard">Dashboard</a></li>
      </ul>
      <div class="navbar-form navbar-right user-menu">
        <a class="btn btn-default" ui-sref="logout">
          <img class="" ng-src="{{$auth.profile.picture}}">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>

<main class="container-fluid" ui-view>
  Loading...
</main>