<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="dashboard.home">Tasker</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div>
  </div>
</nav>

<main class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <div class="alert alert-info">You must be logged in to register and schedule Webtasks.</div>
      </p>
      <p>
        <button class="btn btn-lg btn-primary btn-block" ng-click="vm.login()">Login to Tasker</button>
      </p>
    </div>
  </div>
</main>