<div layout="column">
  <md-toolbar layout="row">
    <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Login required</h1>
  </md-toolbar>
  <div layout="row" flex>
    <md-content layout="column" flex id="content" class="md-padding">
      <p class="inset">
        You need to be logged in to work with Webtasker. Click below to log in.
      </p>
      <div layout="column" layout-align="center" >
        <md-button class="md-primary" ng-click="vm.login()">
          Log in
        </md-button>
      </div>
    </md-content>
  </div> 
</div>